$mobile-width: 320px;
$black: #000;
$white: #fff;
$grey: #444;
$aqua: #63d1bb;
$aquaDarker: #56c3b2;
$greyLight: #f1f1f1;
$greyMedium: #c7c7c7;

$font-color-black: #000;
$font-color-white: #fff;
$font-color-grey: #444444;
$font-color-aqua: $aqua;

$grey-border: 2px solid $grey;
$aqua-border: 2px solid $aqua;
$aqua-border-thin: 1px solid $aqua;

$white-bg: #fff;
$aqua-bg: $aqua;
$cat-toys-bg: #56c3b2;
$light-grey-bg: #f1f1f1;
