$mobile-width: 320px;
$font-color-black: #000;
$font-color-white: #fff;
$font-color-grey: #444444;
$font-color-aqua: #63d1bb;

$grey-border: 2px solid #444444;

$white-bg: #fff;
$aqua-bg: #63d1bb;
$cat-toys-bg: #56c3b2;
$light-grey-bg: #f1f1f1;

$block-width: 100%;
