.about {
  padding-top: 33px;
  padding-bottom: 27px;

  @include tablet {
    padding-top: 49px;
    padding-left: (50 / 768 * 100%);
    padding-right: (50 / 768 * 100%);
    padding-bottom: 33px
  }

  @include desktop {
    padding-top: 59px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 38px;
  }
}

.about__inner {
  @include on-center();
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @include desktop {
    padding-left: (1050px / 6);
    box-sizing: border-box;
  }
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  color: $black;
  margin-bottom: 33px;
  margin-left: -5px;

  @include tablet {
    margin-top: 0;
    font-size: 43px;
    line-height: 50px;
    text-align: left;
    margin-bottom: 43px;
  }
  
  @include desktop {
    font-size: 53px;
    line-height: 1.1;
  }
}

.about__item-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    justify-content: flex-start;
  }
}

.about__item {
  position: relative;
  font-size: 17px;
  font-weight: 700;
  color: $black;
  padding-top: 54px;
  margin-bottom: 29px;
  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
  &--ecology {
    &::before {
      top: -3px;
      left: 10px;
      width: 32px;
      height: 39px;
      background-image: url(/img/icon-feature-1.svg);
      background-repeat: no-repeat;
      background-position: 20.498565% 31.30862%;
    }
  }
  &--handmade {
    &::before {
      top: 1px;
      left: 3px;
      width: 34px;
      height: 34px;
      background-image: url(/img/icon-feature-2.svg);
      background-repeat: no-repeat;
      background-position: 20.498565% 31.30862%;
    }
  }
  &--style {
    &::before {
      top: -1px;
      left: 0;
      width: 47px;
      height: 28px;
      background-image: url(/img/icon-feature-3.svg);
      background-repeat: no-repeat;
      background-position: 20.498565% 31.30862%;
    }
  }
  &--support {
    &::before {
      top: 2px;
      left: -7px;
      width: 54px;
      height: 23px;
      background-image: url(/img/icon-feature-4.svg);
      background-repeat: no-repeat;
      background-position: 20.498565% 31.30862%;
    }
  }
  &--likes {
    &::before {
      top: 4px;
      left: 7px;
      width: 33px;
      height: 28px;
      background-image: url(/img/icon-feature-5.svg);
      background-repeat: no-repeat;
      background-position: 20.498565% 31.30862%;
    }
  }
  &--gift {
    &::before {
      top: 0px;
      left: 3px;
      width: 33px;
      height: 33px;
      background-image: url(/img/icon-feature-6.svg);
      background-repeat: no-repeat;
      background-position: 20.498565% 31.30862%;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }

  @include tablet {
    width: 50%;
    margin-bottom: 51px;
    font-size: 20px;
    line-height: 1.1;
    font-weight: 600;
    p {
      margin: 0;
    }
    &--ecology {
      order: 1;
    }
    &--handmade {
      order: 2;
    }
    &--style {
      order: 3;
    }
    &--support {
      order: 4;
    }
    &--likes {
      order: 5;
    }
    &--gift {
      order: 6;
    }
  }
  
  @include desktop {
    flex: 0 0 40%;
    letter-spacing: 1px;
  }
}
