.about {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 20px;
}

.about__title {
  font-size: 25px;
  font-weight: 700;
  color: $black;
  margin-top: 30px;
}

.about__item-list {
  text-align: left;
}

.about__item {
  font-size: 17px;
  font-weight: 700;
  color: $black;
}

@media (min-width: 768px) {
  .about {
    padding-top: 55px;
    padding-left: (50/768*100%);
    padding-right: (50/768*100%);
    min-height: 583px; /*временно для сетки*/
  }
  .about__title {
    margin-top: 0;
    font-size: 43px;
    line-height: 50px;
    text-align: left;
  }
  .about__item-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about__item {
    width: 50%;
    padding-top: 110px;
    p {
      margin: 0;
    }
    &--ecology {
      order: 1;
    }
    &--handmade {
      order: 2;
    }
    &--style {
      order: 3;
    }
    &--support {
      order: 4;
    }
    &--likes {
      order: 5;
    }
    &--gift {
      order: 6;
    }
  }
}

@media (min-width: 1150px) {
  .about__item-list {
    justify-content: center;
  }
  
  .about__item {
    
  }
}
