.body-wrapper {
  max-width: $mobile-width;
  margin: 0 auto;
  text-align: center;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #fff;
  color: #444444;
  @include font(15px, 24px, 400);
}
