.btn {
  display: block;
  width: 241px;
  padding: 15px 80px;
  margin: 0 auto;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: $font-color-grey;
  border: $grey-border;
  @include font(17px, 24px, 700);
}