.btn {
  font-size: 17px;
  line-height: 1.4;
  font-weight: 700;
  display: block;
  padding: 15px 80px;
  margin: 0 auto;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $greyDark;
  border: $grey-border;
}
