.catalog {
  padding-top: 30px;
  padding-bottom: 30px;

  @include tablet {
    padding: 79px 0 53px;
  }

  @include desktop {
    padding: 128px 0 57px;
  }
}

.catalog__inner {
  @include on-center();
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.catalog__purchase {
  padding-left: (24 / 260 * 100%);
  padding-right: (24 / 260 * 100%);
}
