.catalog-item__name {
  font-size: 17px;
  font-weight: 700;
  a {
    text-decoration: none;
    color: $black;
  }
}

.catalog-item__params {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 400;
  color: $greyDark;
}
