.category-block {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;

  @include tablet {
    margin-top: -119px;
  }
}

.category-block__inner {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  @include tablet {
    @include on-center();
    flex-direction: row;
  }
}

.category-block__item {
  &--interior {
    background-color: $aqua;
  }
  &--toys {
    background-color: $aquaDarker;
  }

  @include tablet {
    width: 50%;
    min-height: 119px;
    padding: 0;
  }
}

.category-block__link {
  display: block;
  text-decoration: none;
  color: $white;
  padding: 26px 95px 30px (26 / 260 * 100%);
  position: relative;
}

.category-block__item-name {
  text-align: left;
}
