.category-block {
  font-size: 17px;
  font-weight: 700;
}

.category-block__inner {
    @include on-center();
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

.category-block__item {
  padding-top: 28px;
  padding-bottom: 28px;
  &--interior {
    background-color: $aqua;
  }
  &--toys {
    background-color: $aquaDarker;
  }
}

.category-block__link {
  display: block;
  text-decoration: none;
  color: $white;
}

@media (min-width: 768px) {
  .category-block {
    margin-top: -119px;
  }
  
  .category-block__inner {
    flex-direction: row;
  }
  
  .category-block__item {
    width: 50%;
    min-height: 119px;
    padding: 0;
  }
}

@media (min-width: 1150px) {
}
