.category-block {
  font-size: 17px;
  font-weight: 700;
}

.category-block__item {
  padding-top: 28px;
  padding-bottom: 28px;
  &--interior {
    background-color: $aqua;
  }
  &--toys {
    background-color: $aquaDarker;
  }
}

.category-block__link {
  display: block;
  text-decoration: none;
  color: $white;
}

@media (min-width: 768px) {
  .category-block {
    @include clearfix();
  }
  
  .category-block__item {
    width: 50%;
    float: left;
  }
}
