.contacts {
  padding-top: 50px;
}

.contacts__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $black;
}

.contacts__list {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $greyDark;
}

.contacts__write {
  padding-left: 44px;
  padding-right: 44px;
}
