.container-intro {
  @include font(15px, 30px, 700);
}

.container-intro__bg-wrapper {
  padding: 70px 30px 120px 30px;
  background: url(../../img/hero-mobile@1x.jpg) 50% 0% no-repeat;
  
  &--no-img {
    padding-top: 70px;
    padding-bottom: 75px;
    background-image: none;
    background-color: $light-grey-bg;
  }
}

.container-intro__title {
  color: $font-color-black;
  @include font(27px, 30px, 700);
}

.container-intro__text {
  padding: 27px 30px;
  @include font(13px, 24px, 400);
  color: $font-color-grey;
  text-align: left;
  margin: 0;
}
