.contacts {
  padding-top: 50px;
}

.contacts__inner {
  @include on-center();
}

.contacts__title {
  font-size: 25px;
  font-weight: 700;
  color: $black;
}

.contacts__list {
  color: $greyDark;
}

.contacts__write {
  padding-left: 44px;
  padding-right: 44px;
}

@media (min-width: 768px) {
  .contacts {
    padding-top: 65px;
    padding-bottom: 57px;
  }
  .contacts__title {
    text-align: left;
    font-size: 43px;
    line-height: 50px;
  }
  .contacts__list {
    margin-bottom: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .contacts__item {
    width: 50%;
    &--address {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }
  .contacts__item-value {
    padding-left: 3%;
    padding-right: 3%;
    line-height: 30px;
    text-align: left;
  }
  .contacts__map {
    margin-bottom: 55px;
  }
}

@media (min-width: 1150px) {
  
}
