.contacts {
  padding-top: 50px;

  @include tablet {
    padding-top: 60px;
    padding-bottom: 57px;
  }

  @include desktop {
    @include on-center();
    position: relative;
    padding-top: 71px;
  }
}

.contacts__inner {
  @include on-center();
  
  @include desktop {
    position: relative;
    width: (2 / 6 * 100%);
    margin: 0;
    padding-left: (100% / 6);
  }
}

.contacts__title {
  font-size: 25px;
  font-weight: 700;
  color: $black;
  margin-bottom: 26px;

  @include tablet {
    text-align: left;
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 49px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
    margin-bottom: 48px;
    margin-left: -7px;
  }
}

.contacts__list {
  color: $greyDark;

  @include tablet {
    margin-bottom: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 17px;
  }

  @include desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 77px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  &--email {
    margin-bottom: 30px;
  }
  @include tablet {
    text-align: left;
    width: 50%;

    &--address {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  @include desktop {
    width: 100%;
    display: flex;
    align-items: baseline;

    &--email {
      margin-bottom: 30px;
    }
  }
}

.contacts__item-property {
  margin-right: 30px;

  @include tablet {
    margin-right: 14px;
  }
}

.contacts__item-value {
  line-height: 2;
  @include tablet {
    margin-left: 3%;
    margin-right: 3%;
    line-height: 30px;
    text-align: left;
  }
  &--email {
    text-decoration: none;
    border-bottom: $aqua-border-thin;
    color: #444;
    &:hover {
      color: $aqua;
    }
    &:active {
      color: rgba(70, 193, 174, .3);
      border-bottom: 1x solid rgba(70, 193, 174, .3);
    }
  }
}

.contacts__write {
  padding-left: (44 / 260 * 100%);
  padding-right: (44 / 260 * 100%);
  
  @include tablet {
    width: 230px;
    padding: 14px 37px;
  }

  @include desktop {
    margin: 0;
  }
}

.contacts__map {
  margin-top: 37px;
  margin-bottom: 34px;
  img {
    height: 457px;
  }
  &--on-desktop {
    display: none;
  }
  @include tablet {
    margin-bottom: 52px;
  }

  @include desktop {
    width: 525px;
    display: none;
    &--on-desktop {
      display: block;
      top: -108px;
      right: -525px;
      position: absolute;
    }
  }
}
