.main-nav {
  color: $black;
  background-color: $white;
  width: 100%;
  
  &--opened {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  
  @include tablet {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  @include desktop {
    align-items: flex-start;
  }
}

.main-nav__logo {
  display: block;
  min-height: 79px;
  img {
    padding-top: 22px;
  }
  
  @include tablet {
    width: (167 / 768 * 100%);
    text-align: left;
    order: 1;
  }
  
  @include desktop {
    width: 23%;
    order: 2;
  }
}

.main-nav__list,
.main-nav__user-wrapper {
  display: none;
}

.main-nav__list {
  
@include tablet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  order: 3;
}
@include desktop {
  width: 42%;
  order: 1;
}
}

.main-nav__user-wrapper {
  
@include tablet {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  order: 2;
  width: 50%;
}
@include desktop {
  width: 32%;
  order: 3;
}
}

.main-nav__toggle {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/icon-menu-open.svg) 50% 50% no-repeat;
  background-size: 20px 14px;
  border: none;
  top: 30px;
  right: 30px;
  &--closed {
    background: url(../img/icon-menu-close.svg) 50% 50% no-repeat;
    background-size: 20px 20px;
  }
  
  @include tablet {
    display: none;
  }
}

.main-nav__search {
  
@include tablet {
  button {
    display: block;
    width: 18px;
    height: 19px;
    border: none;
    background: url(../img/icon-search.svg) left top no-repeat;
    background-size: 18px 19px;
    padding-left: 33px;
    padding-right: 33px;
  }
  span {
    display: none;
  }
}
}

.main-nav__cart {
  a {
    &:hover {
      color: rgba(0, 0, 0, .6);
    }
    &:active {
      color: rgba(0, 0, 0, .3);
    }
  }
  
  @include tablet {
    float: right;
  }
}

.main-nav__search,
.main-nav__cart {
  
  @include tablet {
    border-left: $grey-border-thin;
  }
}

.main-nav__item,
.main-nav__search,
.main-nav__cart {
  padding-top: 35px;
  padding-bottom: 35px;
}

.main-nav__item {
  a {
    text-decoration: none;
    color: $black;
    &:hover {
      color: rgba(0, 0, 0, .6);
    }
    &:active {
      color: rgba(0, 0, 0, .3);
    }
  }
  &--mobile-hidden {
    display: none;
  }
  
  @include tablet {
    font-size: 15px;
    text-align: left;
    width: 50%;
  }
  
  @include desktop {
    &--mobile-hidden {
      display: block;
    }
  }
}

.main-nav__note {
  display: none;
  
  @include tablet {
    display: block;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    order: 4;
  }
  
  @include desktop {
    position: absolute;
    right: 0;
    bottom: 25px;
    order: 4;
  }
}
