.main-nav {
  color: $black
}

.main-nav__toggle {
  display: block;
  width: 20px;
  height: 20px;
  background: url(/img/icon-menu-open.svg) 50% 50% no-repeat;
  background-size: 20px 14px;
  border: none;
  position: absolute;
  top: 0;
  right: 30px;
  &--closed {
    background: url(/img/icon-menu-close.svg) 50% 50% no-repeat;
  }
}

.main-nav__item {
  a {
    text-decoration: none;
    color: $black;
  }
}
