.order-form {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 55px;
}

.order-form__title {
  color: $font-color-aqua;
  @include font(17px, 16px, 700);
  text-transform: uppercase;
  padding-right: 20px;
}

.order-form__group-fields {
  padding-top: 25px;
  padding-bottom: 30px;
  border-top: $aqua-border-thin;
  text-align: left;
  
  &:nth-child(6) {
    padding-bottom: 0;
  }
}

.order-form__label {
  color: $font-color-black;
  @include font(17px, 18px, 700);
}

.order-form__input,
.order-form__required-text {
  color: $font-color-grey;
  @include font(17px, 18px, 400);
}

.order-form__input {
  @include font(17px, 18px, 400);
}

.order-form__required-text {
  @include font(14px, 16px, 400);
}

.order-form__textarea {
  color: #d2d2d2;
}

.order-form__send {
  width: auto;
  margin-top: 30px;
  padding-left: 47px;
  padding-right: 47px;
  background-color: $white-bg;
}
