.page-header {
  min-height: 79px;
}

.page-header__wrapper {
  @include on-center();
  position: relative;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Open Sans', 'Arial', sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $white;
}

.page-header__logo {
  display: block;
  height: 79px;
  
  img {
    padding-top: 22px;
  }
}

@media (min-width: 768px) {
  .page-header {
    min-height: 88px;
  }
}

@media (min-width: 768px) {
  .page-header__wrapper {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }
  
  .page-header__logo {
    width: 167px;
    text-align: left;
  }
}
