.page-header {
  min-height: 79px;
  @include tablet {
    min-height: 88px;
  }
}

.page-header__wrapper {
  @include on-center();
  position: relative;
  font-size: 17px;
  font-weight: 700;
  font-family: 'Open Sans', 'Arial', sans-serif;
  background-color: $white;
  @include tablet {
    background-color: transparent;
  }
}
