.product {
  color: $font-color-grey;
  padding: 30px 30px 35px 30px;
  
}

.product__name {
  color: $font-color-black;
  @include font(25px, 30px, 700);
}

.product__hot-lot {
  color: $font-color-aqua;
  @include font(17px, 20px, 400);
  text-align: left;
}

.product__text {
  @include font(15px, 20px, 400);
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}

.product__price {
  @include font(17px, 24px, 700);
}

.product__purchase {
  color: $font-color-grey;
  background: $white-bg;
  border: $grey-border;
}