.product {
  color: $greyDark;
  padding-top: 30px;
  padding-bottom: 35px;

  @include tablet {
    padding-top: 44px;
    padding-bottom: 69px;
  }

  @include desktop {
    padding-top: 70px;
    padding-bottom: 96px;
  }
}

.product__inner {
  @include on-center();

  @include desktop {
    position: relative;
    padding-left: (1050px / 6);
    box-sizing: border-box;
  }
}

.product__header {
  margin-bottom: 22px;

  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 44px;
  }

  @include desktop {
    position: relative;
    width: 67%;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 52px;
  }
}

.product__name {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
  color: $black;
  margin-bottom: 6px;

  @include tablet {
    font-size: 43px;
  }

  @include desktop {
    font-size: 53px;
    line-height: 1.1;
    margin-left: -6px;
  }
}

.product__caption {
  font-size: 17px;
  font-weight: 700;
  color: $aqua;
  text-align: left;
  text-transform: uppercase;

  @include tablet {
    text-align: center;
    width: (110 / 768 * 100%);
  }

  @include desktop {
    position: absolute;
    text-align: center;
    margin-right: 6%;
    line-height: 1;
    left: -135px;
  }
}

.product__about-wrapper {

@include tablet {
  width: (330 / 768 * 100%);
  position: relative;
  text-align: left;
  min-height: 404px; /*временно для сетки*/
}

@include desktop {
  position: static;
  width: (386 / 1150 * 100%);
}
}

.product__text {
  text-align: left;
  line-height: 1.6;
  margin-bottom: 15px;

  @include tablet {
    margin: 0;
    font-size: 17px;
    line-height: 1.8;
    margin-bottom: 36px;
  }
}

.product__table {
  margin-bottom: 27px;

  @include tablet {
    margin-bottom: 58px;
  }
  
  @include desktop {
    margin-bottom: 109px;
  }
}

.product__item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #ececec;
  padding-top: 11px;
  padding-bottom: 10px;
  
  @include desktop {
    padding-bottom: 11px;
  }
}

.product__item-property {
  flex: 1 0 38%;
  justify-content: flex-start;

  @include tablet {
    flex: 1 0 27%;
  }
}

.product__item-value {
  flex: 1 0 62%;
  justify-content: flex-start;

  @include tablet {
    flex: 1 0 61%;
    padding-left: 2px;
  }
}

.product__image {
  margin-bottom: 26px;

  @include tablet {
    position: absolute;
    top: 7px;
    right: -133%;
    img {
      width: 336px;
      height: 404px;
    }
  }

  @include desktop {
    top: 0;
    right: 0;
    z-index: -1;
    img {
      width: 525px;
      height: 636px;
    }
  }
}

.product__price {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 28px;

  @include tablet {
    font-size: 20px;
  }
}

.product__purchase {
  color: $greyDark;
  background: $white;
  &:hover {
    background-color: $greyDark;
    color: $white;
    border-color: $greyDark;
  }
  &:active {
    color: rgba(255, 255, 255, .3)
  }

  @include tablet {
    margin: 0;
    max-width: 288px;
    font-weight: 400;
    padding: 13px 97px;
  }
  
  @include desktop {
    max-width: 292px;
    padding: 13px 99px;
  }
}
