.reviews {
  padding-top: 27px;
  padding-bottom: 35px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: url(/img/review@1x.jpg) no-repeat;
    background-size: contain;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 85px;
    min-height: 435px; /*временно для сетки*/
  }

  @include desktop {
    @include on-center();
  }
}

.reviews__inner {
  @include on-center();
  display: flex;
  flex-direction: column;

  @include desktop {
    padding-left: (100% / 6);
  }
}

.reviews__title {
  font-size: 25px;
  font-weight: 700;
  color: $black;
  margin-bottom: 24px;

  @include tablet {
    font-size: 43px;
    line-height: 50px;
    width: (298 / 768 * 100%);
    text-align: left;
    order: 1;
  }

  @include desktop {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__slider-wrapper {

@include tablet {
  order: 3;
}
}

.reviews__text {
  color: $greyDark;
  text-align: left;
  line-height: 2;
  margin-bottom: 30px;

  @include tablet {
    line-height: 30px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 33px;

  @include tablet {
    text-align: left;
  }
}

.reviews__author-name {
  font-size: 17px;
  font-weight: 700;
  color: $black;
  margin-bottom: 9px;
}

.reviews__auhor‐nick {
  font-size: 17px;
  font-style: normal;
  color: $greyDark;
}

.reviews__write {
  border: 2px solid $greyDark;
  @include tablet {
    order: 2;
  }
}

.reviews__button-wrapper {
  font-size: 0px;
  width: 100%;
  min-height: 50px;
  border: 1px solid #f1f1f1;
  margin-bottom: 38px;
  
  @include tablet {
    text-align: right;
    margin-top: -25px;
  }
}

.reviews__button {
  font-size: 0px;
  display: inline-block;
  vertical-align: top;
  width: 49.9%;
  border: 0;
  min-height: 50px;
  &--prev {
    background: url(/img/icon-left-arrow.svg) no-repeat;
    background-position: center;
    border-right: 1px solid #ececec;
  }
  &--next {
    background: url(/img/icon-right-arrow.svg) no-repeat;
    background-position: center;
  }
}
